
#container{
    display: grid;
    justify-items: center;
}

#gameGrid{
    display:grid;
    grid: repeat(3, 100px)/repeat(3, 100px);
    gap: 5px;

    /*margin-left: auto;
    margin-right: auto;*/

    width: 310px;
    padding:5px;
    background-color: #3943B7;

    border-radius: 10px;
}

#gameGrid div{
    background-color: #6F9CEB;

    border-radius: 10px;

    line-height: 100px;
    text-align: center;
    font-size: 75px;
    color: #FFAA5A
}