
#container{
    display: grid;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;;
}


#scoreBoard{
    background-color: aquamarine;

    border-radius: 15px;
    border: 4px solid #3943B7;

    display: grid;
    grid: 50px 50px/ 200px 200px;

    font-size: 30px;
    font-weight: bold;

    margin: 30px;
    padding: 5px;
}
#scoreBoard div{
    text-align: center;

    padding: 5px;
}


#gameGrid{
    display:grid;
    grid: repeat(3, 100px)/repeat(3, 100px);
    gap: 5px;

    /*margin-left: auto;
    margin-right: auto;*/

    width: 310px;
    padding:5px;
    background-color: #3943B7;

    border-radius: 10px;
}

#gameGrid div{
    background-color: #6F9CEB;

    border-radius: 10px;

    line-height: 100px;
    text-align: center;
    font-size: 75px;
    color: #FFAA5A;

    cursor:pointer;
}

#gameControls{
    padding:10px;
}
#gameControls button{
    font-weight: bold;
    background-color: #FF6392;

    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}
#gameControls button:hover{
    color: white;
    background-color: #8b3851;
    cursor: pointer;
}

#gameStatus{
    width: 300px;
    height: 100px;

    text-align: center;
    line-height: 100px;

    background-color: aquamarine;

    border-radius: 15px;
    border: 4px solid #3943B7;

    font-size: 30px;
}

#gameNotice{
    width:350px;
    height: 100px;

    text-align: center;
    line-height:100px;
    
    background-color: #FF6392;
    
    border-radius: 15px;
    border: 4px solid;

    font-size: 50px;

    position: fixed;

    top: 372px;

    display: none;
}